<!DOCTYPE html>
<html>

    <head>
        <%- include('partials/head'); %>
    </head>

    <body class="container p-2 d-flex flex-column vh-100">
        <header>
            <%- include('partials/header'); %>
        </header>
        <main role="main" class="container vh-100">
            <div class="p-2"></div><!-- Spacing -->
            <!-- TEST -->
            <div class="align-items-center">
                <div class="row">
                    <div class="col-md-4 vh-80">
                        <div class="well">
                            <div class="container border border-secondary rounded h-100" style=" background: rgba(255, 255, 255, 0.4)">
                                <div class="text-center p-2">
                                    <h1>Channels</h1>
                                </div>
                                <nav id="channels" class="nav flex-column">
                                    <!-- TODO sizing -->
                                    <a class="nav-link mx-auto" href="#"></a>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 vh-80 h-100"">
                        <div class="row">
                            <div class="col-md-12 mh-50">
                                <div class="well">
                                    <div class="border border-secondary rounded p-2 h-70" style=" background: rgba(255, 255, 255, 0.4)">
                                        <div class="col-md-12">
                                            <!-- messages -->
                                            <div class="well">
                                                <h2>Channel name : <span id="currentSpan"></span></h2>
                                                <ul id="messages" style="height: 350px">

                                                </ul>                                               
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="well">
                                                <!-- Pour Quentin -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mh-25">
                                <div class="well">
                                    <div class="border border-secondary rounded p-2 h-30" style=" background: rgba(255, 255, 255, 0.4); margin-top: 10px;">
                                        <!-- text Pour Quentin -->
                                        <h2 class="text-center">Send a message</h2>
                                        <input id="message-input" type="text" class="form-control" placeholder="Message">
                                        <button id="send" type="button" class="btn btn-primary btn-lg btn-block">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <%- include('partials/footer'); %>
        </footer>
        <script src="http://10.217.29.34:3001/socket.io/socket.io.js"></script>
        <script>
            if(sessionStorage.getItem('token') == null){
                window.location.href = '/login';
            }

            if(sessionStorage.getItem('channel') == null){
                sessionStorage.setItem('channel', 'General');
            }

            let currentChannel = sessionStorage.getItem('channel');
            let currentSpan = document.getElementById('currentSpan');
            currentSpan.innerHTML = currentChannel;

            channels = [
                "General",
                "Random",
                "Programming",
                "Networking",
                "Chemistry",
                "Mathematics",
                "Physics",
                "Biology",
                "Geography",
                "History",
                "Economics",
                "Philosophy",
                "Psychology",
            ]

            document.getElementById("channels").innerHTML = channels.map(channel => `<a id='${channel}'class="nav-link mx-auto">${channel}</a>`).join("")


            const nodes = [];
            for(let i = 0; i < channels.length; i++){
                document.getElementById(channels[i]).addEventListener("click", function(){
                    sessionStorage.setItem('channel',channels[i]);
                    currentChannel = channels[i];
                    currentSpan.innerHTML = currentChannel;

                    messages.innerHTML = "";
                })
            }

            let socket = io("http://10.217.29.34:3001");

            socket.on("error", (data) => {
                alert("Error:" + data);
            });

            socket.on("new-message", (data) => {
                if(data.channel == currentChannel){
                    let message = document.createElement("li");
                    message.innerHTML = "<strong>" + data.user + ": </strong>" + data.message;
                    document.getElementById("messages").appendChild(message);
                }
            });

            function send() {

                let message = document.getElementById("message-input").value;

                if(message != ""){
                    socket.emit("message", {
                        message: message,
                        channel: currentChannel,
                        token: sessionStorage.getItem('token')
                    });
                }

                document.getElementById("message-input").value = "";
            }

            document.getElementById("message-input").addEventListener("keypress", (event) => {
                if (event.key == "Enter") {
                    send();
                }
            });
            document.getElementById("send").addEventListener("click", send);

        </script>
    </body>

</html>