<!DOCTYPE html>
<html>

    <head>
        <%- include('partials/head'); %>
    </head>

    <body class="container p-2 d-flex flex-column vh-100">
        <header>
            <%- include('partials/header'); %>
        </header>
        <main role="main" class="container vh-100">
            <div class="d-flex flex-row justify-content-center p-5 vertical-center w-100">
                <div class="border border-secondary rounded justify-content-center p-5 h-50 w-50">
                    <div class="text-center">
                        <h1>Sign in</h1>
                    </div>
                    <br><br>
                    <form id="login-form">
                        <div class="form-group">
                            <label for="username">Enter your username:</label>
                            <input class="form-control" type="text" id="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Enter your password:</label>
                            <input class="form-control" type="password" id="password" required>
                        </div>
                        <br><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-primary">Reset</button>
                    </form>
                </div>
            </div>
        </main>
        <footer class="footer">
            <%- include('partials/footer'); %>
        </footer>
        <style>
            .vertical-center {
                min-height: 80%;
                /* Fallback for browsers do NOT support vh unit */
                min-height: 80vh;
                /* These two lines are counted as one :-)       */
                display: flex;
                align-items: center;
            }
        </style>
        <script>
            document.getElementById("login-form").addEventListener("submit", function(event) {
                event.preventDefault();

                var username = document.getElementById("username").value;
                var password = document.getElementById("password").value;

                var data = {
                    username: username,
                    password: password,
                };

                fetch("/api/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                }).then((response) => response.text())
                .then((text) => {
                    if(text == "Username or password is incorrect") {
                        alert(text);

                    } else {
                        sessionStorage.setItem("token", text);
                        window.location.href = "/";
                    }
                });
            });
        </script>
    </body>

</html>