<!DOCTYPE html>
<html>

    <head>
        <%- include('partials/head'); %>
    </head>

    <body class="container p-2 d-flex flex-column vh-100">
        <header>
            <%- include('partials/header'); %>
        </header>
        <main role="main" class="container vh-100">
            <div class="d-flex flex-row justify-content-center p-5 vertical-center h-100 w-100">
                <div class="border border-secondary rounded justify-content-center p-5 h-100 w-75">
                    <div class="text-center m-5">
                        <h1>My To Do List</h1>
                    </div>
                    <div class="input-group">
                        <input class="form-control" type="text" id="input-to-todolist" placeholder="Task...">
                        <div class="input-group-append">
                            <span class="btn btn-secondary" id="add-to-todolist">Add</span>
                        </div>
                    </div>
                    <ul id="myUL"></ul>
                </div>
            </div>
        </main>
        <footer class="footer">
            <%- include('partials/footer'); %>
        </footer>
        <script>
            if(sessionStorage.getItem("token") === null) {
                window.location.href = "/login";
            }

            let data = {
                userId: sessionStorage.getItem("token")
            };

            fetch("/api/todo/get", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data)
            }).then(response => response.text())
            .then(data => {
                if(data == "Invalid token") {
                    window.location.href = "/login";

                } else {

                    if(data == "") {
                        return;
                    }

                    let tasks = JSON.parse(data);

                    for(let i = 0; i < tasks.length; i++) {
                        let li = document.createElement("li");
                        li.innerText = tasks[i].text;
                        li.setAttribute("id", tasks[i].id);
                        li.addEventListener("click", function(event) {
                            let targetId = event.target.id;

                            let data = {
                                userId: sessionStorage.getItem("token"),
                                todoId: targetId
                            }

                            fetch("/api/todo/done", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json"
                                },
                                body: JSON.stringify(data)
                            }).then((response) => response.text())
                            .then((text) => {
                                if(text == "Missing parameters") {
                                    alert(text);
                                } else if(text == "Invalid token") {
                                    window.location.href = "/login";
                                } else {
                                    li.style.display = "none";
                                }
                            });
                        });

                        document.getElementById("myUL").appendChild(li);
                    }
                }
            });

            // Event listeners
            document.getElementById('input-to-todolist').addEventListener('keypress', function (e) {
                if (e.key === 'Enter') {
                    newElement();
                }
            });

            document.getElementById('add-to-todolist').addEventListener('click', function (e) {
                newElement();
            });

            // Click on a close button to hide the current list item
            var close = document.getElementsByClassName("close");
            for (i = 0; i < close.length; i++) {
                close[i].onclick = function () {
                    var div = this.parentElement;
                    div.style.display = "none";
                }
            }


            // Create a new list item when clicking on the "Add" button
            function newElement() {
                var inputValue = document.getElementById("input-to-todolist").value;

                if (inputValue === '') {
                    alert("You must write something!");

                } else {

                    let data = {
                        userId: sessionStorage.getItem("token"),
                        text: inputValue
                    }

                    fetch("/api/todo/add", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                }).then((response) => response.text())
                .then((text) => {
                    if(text == "Missing parameters") {
                        alert(text);
                    } else if(text == "Invalid token") {
                        window.location.href = "/login";
                    } else {
                        let taskId = text;

                        var li = document.createElement("li");

                        li.setAttribute("id", taskId);
                        var t = document.createTextNode(inputValue);
                        li.appendChild(t);

                        document.getElementById("myUL").appendChild(li);
                        document.getElementById("input-to-todolist").value = "";

                        li.addEventListener("click", function(event) {
                            let targetId = event.target.id;

                            let data = {
                                userId: sessionStorage.getItem("token"),
                                todoId: targetId
                            }

                            fetch("/api/todo/done", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json"
                                },
                                body: JSON.stringify(data)
                            }).then((response) => response.text())
                            .then((text) => {
                                if(text == "Missing parameters") {
                                    alert(text);
                                } else if(text == "Invalid token") {
                                    window.location.href = "/login";
                                } else {
                                    li.style.display = "none";
                                }
                            });
                        });
                    }
                });
                   
                }
            }
        </script>
    </body>

</html>