<div class="container">
    <p class="text-center text-muted">&copy; Copyright 2022 Les Brioches de Trois-Rivière</p>
    <button class="backGround" id="changebg">Change Background</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js" integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    document.getElementById("changebg").addEventListener("click", () => {
        let data = {
            background: localStorage.getItem("background")
        };

        fetch("/api/get-new-background", {    
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data)
        }).then(response => response.text())
        .then(data => {
            alert(data)
        });
    });

 </script>
<style>
    .vertical-center {
        min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 80vh; /* These two lines are counted as one :-)       */
        display: flex;
        align-items: center;
    }
    body {
        margin:0;
        padding:0;
    }

    div.image {
        background-position: center center;
        background-repeat:no-repeat;
        background-size: cover;
        position:fixed;
        z-index:-1;
        width:100vw;
        height:100vh;
    }

    button.backGround {
        position: absolute;
        right: 31px;
        bottom: 24px;
    }

</style>