<div class="container">
    <p class="text-center text-muted">&copy; Copyright 2022 Les Brioches de Trois-Rivière</p>
    <button class="backGround" id="changebg">Change Background</button>
</div>
<script>

    if(localStorage.getItem('background') == null){
        localStorage.setItem('background', 'montreal-night-1.avif');
    }

    document.body.style.backgroundImage = "url('" + localStorage.getItem('background') + "')";

    document.getElementById("changebg").addEventListener("click", () => {
        let data = {
            background: localStorage.getItem("background")
        };

        fetch("/api/get-new-background", {    
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data)
        }).then(response => response.text())
        .then(data => {
            localStorage.setItem('background', data);
            document.body.style.backgroundImage = "url('" + data + "')";
        });
    });

 </script>
<style>
    .vertical-center {
        min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 80vh; /* These two lines are counted as one :-)       */
        display: flex;
        align-items: center;
    }
    body {
        margin:0;
        padding:0;
    }

    div.image {
        background-position: center center;
        background-repeat:no-repeat;
        background-size: cover;
        position:fixed;
        z-index:-1;
        width:100vw;
        height:100vh;
    }

    button.backGround {
        position: absolute;
        right: 31px;
        bottom: 24px;
    }

    body {
        background-size: 100%;
    }

</style>